@charset "utf-8";
/* CSS Document */
.contex p.wholesale_price {
clear: both;
border-top: none;
padding: 5px 0;
line-height: 10px;
margin-left:90px;
}
#brand-items-list ul li{text-transform: lowercase;}
#brand-items-list li:first-letter{text-transform:uppercase;}
.home .banner-link a:link {
    color: #FFF;
    text-decoration: none;
}
.home .banner-link a:visited {
    color: #FFF;
    text-decoration: none;
}
.home .banner-link a:hover {
    color: #FFF;
    text-decoration: underline;
}
.home .banner-link a:active {
    color: #FFF;
    text-decoration: none;
}



#relateparts .prev {
    background: url("../images/porleft-mouse-over.png") no-repeat scroll transparent;
}

#relateparts .next {
    background: url("../images/porright-mouse-over.png") no-repeat scroll transparent;
}
#relateparts a.prev:hover {
    background: url("../images/porleft.png") no-repeat scroll transparent;
}

#relateparts a.next:hover {
    background: url("../images/porright.png") no-repeat scroll transparent;
}


#news-headline img {
 width: 450px;
 height: 300px;
 border:none;
}
#news-headline {
	padding: 0;
	width: 456px;
	height:322px;
}
.conout div.selected a{
	border:3px solid #a8d663;
}

.newslist ul.proimgli a{
	display:block;
	width: 83px;
	height: 56px;
}

#news-headline-fa a{
	width: 450px;
	height: 300px;
	display:block;
	border:3px solid #FFF;
}
#news-headline-fa a:hover{
	display:block;
	border:3px solid #a8d663;
}
#new-headline-des a{
	border:none;
	display:inline;
}
#new-headline-des a:hover{
	border:none;
}
ul.proimgli a{
	border: 3px solid #FFF;
	width: 84px;
}
ul.proimgli a:hover{
	border: 3px solid #a8d663;
}
.newslist li.selected img {
    border: none;
}
.newslist li.selected img {
height: 56px;
width: 83px;
}
ul.proimgli li {
    width:102px;
	}
div.newslist img {
    border: none;
}

ul.proimgli li img {
height: 56px;
width: 83px;
}
#newproduct-top{
	margin-top: 30px;
}

.linkcc {
width: 185px;
clear: both;
color: #699329;
}
.addthis_button_expanded{
	visibility: hidden;
}
#add_this {
	margin-right: -45px;
}