@charset "utf-8";
/* CSS Document */
.contex p.wholesale_price {
clear: both;
border-top: none;
padding: 5px 0;
line-height: 10px;
margin-left:90px;
}
#brand-items-list ul li{text-transform: lowercase;}
#brand-items-list li:first-letter{text-transform:uppercase;}
.home .banner-link a:link {
    color: #FFF;
    text-decoration: none;
}
.home .banner-link a:visited {
    color: #FFF;
    text-decoration: none;
}
.home .banner-link a:hover {
    color: #FFF;
    text-decoration: underline;
}
.home .banner-link a:active {
    color: #FFF;
    text-decoration: none;
}



#relateparts .prev {
    background: url("../images/porleft-mouse-over.png") no-repeat scroll transparent;
}

#relateparts .next {
    background: url("../images/porright-mouse-over.png") no-repeat scroll transparent;
}
#relateparts a.prev:hover {
    background: url("../images/porleft.png") no-repeat scroll transparent;
}

#relateparts a.next:hover {
    background: url("../images/porright.png") no-repeat scroll transparent;
}
